<!DOCTYPE html>
<h1>Welcome to our boosting site</h1>
<body>


  <div class="container">
  <div class="row">
    <table class="table table-fixed">
      <thead>
        <tr>

          <th class="col-xs-2">Name</th>
          <th class="col-xs-3">description</th>
          <th class="col-xs-2">pris</th>
          <th class="col-xs-2">amount</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product | async">

          <td class="col-xs-2">{{product.name | json}} </td>
          <td class="col-xs-3">{{product.description | json}} </td>
          <td class="col-xs-2">{{product.pris | json}} </td>
          <td class="col-xs-2">{{product.amount | json}} </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>


</body>

