<!DOCTYPE html>
<h1>Welcome to our boosting site</h1>
<body>


  <div class="container">
  <div class="row">
    <table class="table table-fixed">
      <thead>
        <tr>

          <th class="col-xs-2">Picture</th>
          <th class="col-xs-2">Name</th>
          <th class="col-xs-3">description</th>
          <th class="col-xs-2">pris</th>
          <th class="col-xs-2">amount</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product | async">

          <td class="col-xs-2">{{product.name | json}} </td>
          <td class="col-xs-3">{{product.description | json}} </td>
          <td class="col-xs-2">{{product.pris | json}} </td>
          <td class="col-xs-2">{{product.amount | json}} </td>

        </tr>
      </tbody>
      <img src="src/app/assets/pics/Atal_Dazar.jpg">
      <img src="src/app/assets/pics/Freehold.jpg">
      <img src="src/app/assets/pics/Kings-Rest.jpg">
      <img src="src/app/assets/pics/Mechagon_Junkyard.jpg">
      <img src="src/app/assets/pics/Mechagon_Workshop.jpg">
      <img src="src/app/assets/pics/Shrine_of_the_Storm.jpg">
      <img src="src/app/assets/pics/Siege_of_boralus.jpg">
      <img src="src/app/assets/pics/Temple_of_Sethraliss.jpg">
      <img src="src/app/assets/pics/The-motherlode.jpg">
      <img src="src/app/assets/pics/The-Underrot.jpg">
      <img src="src/app/assets/pics/Tol-Dagor.jpg">
      <img src="src/app/assets/pics/Waycrest-Manor.jpg">
    </table>
  </div>
</div>


</body>

