<div class="filloutbox">
<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">
    <label for="name">Name</label>
    <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="product.name"
        name="name"
    />
    </div>

    <div class="form-group">
    <label for="description">Description</label>
    <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="product.description"
        name="description"
    />
    </div>

    <div class="form-group">
    <label for="pris">Pris</label>
    <input
        class="form-control"
        id="pris"
        required
        [(ngModel)]="product.pris"
        name="pris"
        type="number"
    />
    </div>

    <div class="form-group">
    <label for="amount">Amount</label>
    <input
        class="form-control"
        id="amount"
        required
        [(ngModel)]="product.amount"
        name="amount"
        type="number"
    />
    </div>
</div>
    <button (click)="saveProduct()" class="btn btn-success">Add new product</button>
</div>

  <div *ngIf="submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-success" (click)="newProduct()">Back</button>
</div>
</div>