<div class="list row">
<div class="col-md-8">
    <div class="input-group mb-3">
    <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
    />
    <div class="input-group-append">
        <button
        class="btn btn-outline-secondary"
        type="button"
        (click)="searchName()"
        >
        Search
        </button>
    </div>
    </div>
</div>

<div> </div>

<div class="col-md-6">

    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllProducts()">
    Remove All
    </button>
    <button class="m-3 btn btn-sm btn-danger" (click)="getProducts()">
    Show All
    </button>
</div>

<div class="container">
  <div class="row">
    <table class="table table-fixed">
      <thead>
        <tr>
          <th class="col-xs-1">Id</th>
          <th class="col-xs-2">Name</th>
          <th class="col-xs-2">description</th>
          <th class="col-xs-2">pris</th>
          <th class="col-xs-2">amount</th>
          <th class="col-xs-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of product | async">
          <td class="col-xs-1">{{product.Id | json}} </td>
          <td class="col-xs-2">{{product.name | json}} </td>
          <td class="col-xs-2">{{product.description | json}} </td>
          <td class="col-xs-2">{{product.pris | json}} </td>
          <td class="col-xs-2">{{product.amount | json}} </td>
          <td class="col-xs-3"><button>U</button> <button>D</button></td>
        </tr>
        
      </tbody>
    </table>
  </div>
</div>
</div>